@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slidedown {
    from{
        height: 0%;
    }
    to{
        height:100% ;
    }
}


    &&:hover{
    .slide{
        animation: slidedown ease-in-out 0.5s forwards;
        visibility: visible;
    }
}
